.contenedor_main {
  position: absolute;
  left: 80px;
  z-index: 1;
  width: 94%;
}

.contenedor_main .activo {
  font-weight: bold;
  background-color: lightgreen;
  padding: 5px 5px;
  border-radius: 10px;
  width: 130px;
  text-align: center;
  background-image: linear-gradient(
    to left top,
    #48bb78,
    #41c18d,
    #3ec7a2,
    #43ccb4,
    #4fd1c5
  );
  color: white;
  margin: 1% auto 3% !important;
}

.contenedor_main .deshabilitado {
  font-weight: bold;
  padding: 5px 5px;
  border-radius: 10px;
  width: 130px;
  text-align: center;
  color: white;
  background-image: linear-gradient(
    to left top,
    #e53e3e,
    #ec504f,
    #f26160,
    #f77170,
    #fc8181
  );
  margin: 1% auto 3% !important;
}

.contenedor_main .ocultar {
  display: none !important;
}

.ant-form-item-label {
  text-align: left !important;
}

.contenedor_main .timeline_interna {
  overflow: auto;
  height: 40vh;
}

.lista {
  overflow: auto;
  height: 85vh;
}
